*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
main{
    margin: 0px 60px;
   
}
.logo{
    border: 1px solid teal;
    border-radius: 50%;
}
.menu{
    margin: 50px 20px 0px;
    display: flex;
}
.menu-item{
    display: flex;
    list-style: none;
    margin-left: 500px;
    justify-content: space-between;
    align-items: center;
}
.menu-item ul{
    
}
.project-title{
    font-size: 20px;
    color: teal;
    margin: 15px 0px 5px 10px;
}
.menu-item a{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    color: black;
}

.menu-item a:hover{
    color: teal;
    text-decoration: overline;
}
.btn{
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    background-color: #FE724C;
    color: white;
}
.btn:hover{
    background-color: teal;

}
.explore{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    background-color: teal;
    color: white;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.img{
    
    justify-content: center;
   max-width: 600px;
}
.banner-img{
    align-items: center;
    flex: 2;
}
.banner-des{
    align-items: center;
    text-align: center;
}
.banner h1{
    font-size: 50px;
    color: #272D2F;
}
.banner-des p{
    font-size: 20px;
    color: #272D2F;
}
.banner-des h1,p{
    margin-top: 20px;
}


/* login style */
.login-page{
    margin-top: 50px;
}
.login-page h1{
    text-align: center;
}
.login_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow:5px 5px 5px 5px #888888;
    padding: 10px;
    margin: auto;
    width: 60%;
    margin-top: 30px;
    margin-bottom: 50px;
}
.login-title{
    text-align: center;
}
.form_info{
    text-align: left;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
}
.form_info input{
    padding: 6px 10px;
    height: 40px;
    border: 1px solid #888888;
    border-radius: 4px;
}
.form_info label{
    font-size: 20px;
}

.form_info button{
    width: 60%;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    background-color: teal;
    color: white;
}
.submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_info p{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Search Design */
.search{
    display: flex;
    justify-content: space-between;
    padding: 40px;
    font-size: 20px;
}
.search select{
    text-align: center;
    border: 1px solid teal;
    width: 350px;
    padding: 10px;
    border-radius: 4px;
}

/* card design */
.card{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px;
    justify-content: space-between;
}
.card_container{
    background-color: #ABC6C6;
    overflow: hidden;
    border-radius: 15px;
    height: auto;
    flex: 1 1 48%; 
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card_container:hover{
    box-shadow: 10px 10px 10px gray;
}
.card_container img{
    width: 100%;
    height: 50%;
}
.card_details_heading{
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}
.card_container p{
    font-size: 25px;
    text-align: left;
    margin-left: 30%;
}
.card_btn{
    margin: 20px;
    display: flex;
    justify-content: space-around;
}
.card_btn button{
    width: 100%;
    margin: 10px;
    padding: 10px 20px;
    font-size: 15px;
    border: none;
    border-radius: 50px;
    background-color: teal;
    color: white;
}